:root {
  --main-color: #333;
  --main-text-color: #fff;
  --main-toolbar-color: #fff;
  --main-toolbar-color-contrast: #333;
  --main-toolbar-icon-color: #333;
  --main-logo-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
}

#logDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 300px;
}

.app {
  display: none;
}

.menu {
  position: absolute;
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

.menu > img {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 11;
}

#navbar {
  position: fixed;
}

.navContainer {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 10%;
  min-width: 200px;
  height: 100vh;
  background-color: var(--main-color);
  /* border-right: 1px solid var(--main-toolbar-color); */
  z-index: 10;
}

.logBtnDiv {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.logBtnDiv > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--main-text-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 15px;
}

.logBtnDiv > button:hover {
  border-bottom: 1px solid var(--main-text-color);
  cursor: pointer;
}

h3 {
  color: var(--main-text-color);
  font-size: 1rem;
  font-weight: 500;
  width: 90%;
  text-align: left;
  margin-top: 3rem;
}

#logDiv > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--main-text-color);
  font-size: 1rem;
  border-bottom: 1px solid var(--main-toolbar-color);
  width: 100%;
  margin-bottom: 0.5rem;
}

#signUpDiv {
  display: none;
}

#signInDiv {
  display: none;
}

.notes {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 200px;
}

.notes > select {
  width: 90%;
  color: var(--main-text-color);
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--main-toolbar-color);
  margin-top: 1rem;
}

.handleNotesBtn {
  display: flex;
  width: 800px;
  justify-content: space-around;
  margin-top: 1rem;
}

.handleNotesBtn > button {
  background-color: transparent;
  color: var(--main-text-color);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.handleNotesBtn > button:hover {
  border-bottom: 1px solid var(--main-text-color);
}

#editor {
  display: flex;
  margin: 10px 15%;
  background-color: var(--main-color);
  border: none;
  width: 100%;
  height: 100%;
  color: var(--main-text-color);
  font-size: 1rem;
}

div:nth-child(4) > div > span {
  background-color: var(--main-color) !important;
}

.ql-tootip {
  background-color: red !important;
  color: blue !important;
}

.ql-toolbar {
  border: none !important;
  transform: scale(1.3);
  color: white !important;
  z-index: 3;
  margin: 1rem 0rem;
}

.ql-fill {
  fill: var(--main-toolbar-color) !important;
}

.ql-stroke {
  stroke: var(--main-toolbar-color) !important;
}

.ql-editor {
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0px 20%;
}

.ql-picker-label {
  color: var(--main-toolbar-color) !important;
}

.ql-picker-item::before {
  color: var(--main-toolbar-color) !important;
}

.ql-picker-options {
  background-color: var(--main-color) !important;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

@media (max-width: 900px) {
  .ql-toolbar {
    border: none !important;
    transform: scale(1);
    color: white !important;
    z-index: 3;
    margin: 1rem 0rem;
    width: 100vw !important;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 35% 30% 35%;
  }

  .ql-formats {
    width: 100%;
    display: flex !important;
    align-items: center;
  }

  .menu {
    display: block;
    position: fixed;
    bottom: 0%;
    z-index: 1000;
  }

  .ql-editor {
    margin: 0.5rem 1rem 0rem 1rem !important;
  }

  .notes {
    margin-top: 0px;
  }
}

@media (max-width: 800px) {
  body {
    display: none;
  }
}

/* ANIMATIONS */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slide-right-out {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}
@keyframes slide-right-out {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

.slide-right-in {
  -webkit-animation: slide-right 0.5s ease-out forwards;
  animation: slide-right 0.5s ease-out forwards;
}

.slide-right-out {
  -webkit-animation: slide-right-out 0.9s ease-out forwards;
  animation: slide-right-out 0.9s ease-out forwards;
}
